# Requirements for lunar lander 🚀

# First install swig:
# sudo apt-get update
# sudo apt-get install swig

# Then pip install -r requirements.txt
torch
pandas
numpy
matplotlib
gymnasium>=0.28
gymnasium[box2d]>=0.28
